* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.row {
  display: flex;
  margin: 2rem;
  text-align: center;
}
.row-1 {
  height: 50px;
  padding: 0.5rem;
  background-color: pink;
}

.row-2 {
  height: 200px;
  margin-bottom: 0.5rem;
}

.row-3 {
  height: 100px;
  margin-top: 0;
}

.row-4 {
  margin-top: 4rem;
  margin-bottom: 0;
  height: 100px;
}

.row-5 {
    margin-top: 0.5rem;
  height: 100px;
}
.col {
  color: white;
  border: 1px solid black;
}
.col-1 {
  border: 2px solid black;
  width: 25%;
  background-color: greenyellow;
  margin: 0 1rem;
}

.col-2 {
  border: 2px solid black;
  width: 75%;
  background-color: blue;
  margin: 0 1rem;
}

.col-3 {
  width: 100%;
  background-color: red;
}

.col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin: 0 0.08rem;
  background-color: greenyellow;
}

.col-5 {
  margin: 1rem;
  width: 25%;
  background-color: orange;
}

.col-6 {
  margin: 1rem;
  width: 50%;
  background-color: orange;
}

.col-7 {
  margin: 0.5rem;
  background-color: green;
  width: 35%;
}

.col-8 {
  margin: 0.5rem;
  background-color: green;
  width: 15%;
}
